<h1>Listing ratings</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Submitting user</th>
      <th>Subject user</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.number %></td>
        <td><%= rating.submitting_user_id %></td>
        <td><%= rating.subject_user_id %></td>
        <td><%= rating.comment %></td>
        <td><%= link_to 'Show', rating %></td>
        <td><%= link_to 'Edit', edit_rating_path(rating) %></td>
        <td><%= link_to 'Destroy', rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rating', new_rating_path %>

<hr>

<p>
</p>

<script>
 markers = handler.addMarkers(<%=raw @hash.to_json %>);
</script>
