<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @rating.number %>
</p>

<p>
  <strong>Submitting user:</strong>
  <%= @rating.submitting_user %>
</p>

<p>
  <strong>Subject user:</strong>
  <%= @rating.subject_user %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @rating.comment %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
