<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @rating.number %>
</p>

<p>
  <strong>Submitting user:</strong>
  <%= @rating.submitting_user_id %>
</p>

<p>
  <strong>Subject user:</strong>
  <%= @rating.subject_user_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @rating.comment %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>

<hr>
<p>
  <div style="width: 800px;">
    <div id="map" style="width: 800px; height: 800px">
  </div>
</p>


<script>
 handler = Gmaps.build('Google');
 handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
   markers = handler.addMarkers(<%= raw(@hash.to_json) %> );
   handler.bounds.extendWith(markers);
   handler.fitMapToBounds();
   handler.getMap().setZoom(16);
 });

 markers = handler.addMarkers(<%=raw @hash.to_json %>);
</script>
